.sect2 {
    padding: 100px 20px;
    background-color: #F9F8F8;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    max-width: 1200px; 
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px; 
}

.sec2-image {
    flex: 1;
}

.sec2-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.sec2-text {
    flex: 1;
}

.subtitle {
    font-family: 'Yellowtail', cursive;
    color: #7EB693;
    font-size: 32px;
    display: block;
    margin-bottom: 8px;
}

.sec2-text h2 {
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    color: #525C60;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-box {
    background: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 80px;
}

.icon-box img {
    width: 45px;
}

.feature-info h3 {
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
}

.feature-info p {
    color: #525C60;
    font-size: 16px;
    margin: 0;
}

.shop-now {
    display: inline-flex;
    align-items: center;
    background-color: #274C5B;
    color: white;
    padding: 20px 35px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: background 0.3s;
}

.shop-now:hover {
    background-color: #1a343e;
}


@media (max-width: 992px) {
    .container {
        flex-direction: column; 
        text-align: center;
    }
    
    .feature-item {
        flex-direction: row;
        text-align: left;
    }
    
    .sec2-text h2 {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    .feature-item {
        flex-direction: column;
        text-align: center;
    }
    
    .sec2-text h2 {
        font-size: 28px;
    }
}