.header-parent {
  width: 100%;
  background: #ffffff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;

}


.logos {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;

}

.logo-img {
  width: 40px;
  height: auto;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #274C5B;
  margin: 0;
}


.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #274C5B;
  cursor: pointer;
  order: 2;

}

.nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav a,
.dropdown-btn {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #274C5B;
  background: none;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  min-width: 180px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.action-item-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #E0E0E0;
  padding: 5px 18px 5px 5px;
  border-radius: 33px;
  text-decoration: none;
  color: #274C5B;
  font-weight: 600;
  height: 54px;
  box-sizing: border-box;
  background: #fff;
}

.search-wrapper {
  padding-right: 5px;
  background: #FAFAFA;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  padding-left: 15px;
  font-size: 16px;
  color: #274C5B;
  width: 120px;
}

.icon-bg {
  width: 42px;
  height: 42px;
  min-width: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.navy-bg {
  background: #274C5B;
}

.green-bg {
  background: #7EB693;
}



@media (max-width: 1024px) {
  .nav {
    gap: 15px;
  }

  .search-input {
    width: 80px;
  }
}

@media (max-width: 850px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
  }

  .nav.active {
    display: flex;
  }

  .action-text {
    display: none;
  }

  .action-item-wrapper {
    padding-right: 5px;
  }

  .search-wrapper {
    display: none;
  }
}